<!DOCTYPE html>
<html>
  <head>
    <title>Rock Paper Scissors</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Let's play Rock Paper Scissors!</h1>
    <h2>Please enter R, P or S to start the game</h2>

    <form action='/detector' method='get'>
    <div class="form-group">
      <label for="Player1">Player1</label>
      <input id="p1" name="Player1" class="form-control" type="text">
    </div>








    <!--Player1 Input :<input type="text" name="p1"><br>

    Player2 Input :<input type="text" name="p2"><br>-->


    <button type="submit" name="submitButton" class="btn btn-info">Go!</button>
  </body>
</html>
